*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-decoration:double;
    text-shadow: #2f363e;
    writing-mode: unset;
    background:rgb(179, 165, 165);
    text-decoration-line: underline;
}
.timeline-section{
    background-color: rgb(179, 165, 165);
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width:1000px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width:2px;
    heoght:100%;
    background-color: #2f363e);
    left:calc(50% - 1px);
   
}
.timeline-item{
    margin-bottom: 40px;
    width:100%;

} 
.timeline-item:last-child{
    margin-bottom: 0 ;
     
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align:right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align:right
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #a01515;
    position:relative;
   border-radius: 50% ;
    top:10px;
}
.timeline-date{
    font-size: 20px;
    color: #a01515;
    margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
    padding:30px;
    border-radius: 5px;
}